@font-face {
  font-family: 'Trajan';
  src: url('../public/fonts/TrajanPro-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Trajan';
  src: url('../public/fonts/TrajanPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
